---
import Layout from "../../layouts/Layout.astro";
import KeyInfo from "../../components/KeyInfo.astro";
import Consultations from "../../components/Consultations.astro";
import AuxiliaryFiles from "../../components/AuxiliaryFiles.astro";
import { papersStore } from "../../shared/stores";

const { reference } = Astro.params;

export async function getStaticPaths() {
  const papers = await papersStore.getAllPapers();

  return papers.map((paper) => ({
    params: { reference: paper.internalReference },
  }));
}

const paper = await papersStore.getById(reference);
if (!paper) {
  throw new Error(`Paper with reference ${reference} not found`);
}
---

<Layout>
  <div class="details-container">
    <h1 class="page-header">{paper.name}</h1>

    <KeyInfo paper={paper} />
    <Consultations paper={paper} />
    <AuxiliaryFiles auxiliaryFiles={paper.auxiliaryFile || []} />
  </div>
</Layout>
