---
import Layout from "../layouts/Layout.astro";
import PapersTable from "../components/PapersTable.astro";
import type { Paper } from "../shared/types/paper";
import { PapersStore } from "../shared/stores/papers-store";

let papers: Paper[] = [];
const paperStore = PapersStore.getInstance();

try {
  papers = await paperStore.getAllPapers();
} catch (error) {
  console.error("Error fetching papers:", error);
}
---

<Layout>
  <div class="container">
    <h1 class="header">Alle Drucksachen</h1>
    <div class="content-section" data-pagefind-ignore>
      <PapersTable papers={papers} />
    </div>
  </div>
</Layout>

<style>
  .header {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }
</style>
