---
import Layout from "../layouts/Layout.astro";
import Search from "astro-pagefind/components/Search";

const uiOptions = {
  showImages: false,
  pageSize: 10,
  sort: {
    date: "dsc",
  },
  translations: {
    placeholder: "Suchen",
    clear_search: "Löschen",
    load_more: "Mehr Ergebnisse laden",
    search_label: "Diese Seite durchsuchen",
    filters_label: "Filter",
    zero_results: "Keine Ergebnisse für [SEARCH_TERM]",
    many_results: "[COUNT] Ergebnisse für [SEARCH_TERM]",
    one_result: "[COUNT] Ergebnis für [SEARCH_TERM]",
    alt_search:
      "Keine Ergebnisse für [SEARCH_TERM]. Stattdessen werden Ergebnisse für [DIFFERENT_TERM] angezeigt",
    search_suggestion:
      "Keine Ergebnisse für [SEARCH_TERM]. Versuchen Sie eine der folgenden Suchen:",
    searching: "Suche nach [SEARCH_TERM]...",
  },
};
---

<Layout>
  <div class="container">
    <h1 class="header">GemeinderatsRadar</h1>
    <Search id="search" className="pagefind-ui" uiOptions={uiOptions} />
  </div>
</Layout>

<style>
  .header {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }
</style>
