---
import type {
  Paper,
  PaperFilterValues,
  PaperFilterOptions,
} from "../shared/types";
import PageContainer from "./PageContainer.astro";
import PaperList from "./PaperList.astro";

interface Props {
  title: string;
  papers: Paper[];
  filterValuesByReference?: Record<string, PaperFilterValues>;
  filterOptions?: PaperFilterOptions;
}

const { title, papers, filterValuesByReference, filterOptions } = Astro.props;
---

<PageContainer>
  <h1 class="page-header">{title}</h1>
  <slot name="intro" />
  <div data-pagefind-ignore>
    <PaperList
      papers={papers}
      filterValuesByReference={filterValuesByReference}
      filterOptions={filterOptions}
    />
  </div>
</PageContainer>
