<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GemeinderatsRadar</title>
    <style>
      nav {
        background-color: #fdcb00;
        padding: 20px 30px;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
      }

      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        gap: 30px;
      }

      nav ul li {
        display: inline;
      }

      nav ul li a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
      }

      nav ul li a:hover {
        background-color: #f4a900;
        color: white;
        transform: scale(1.03);
      }

      body {
        margin: 0;
        padding: 0;
      }

      main {
        padding: 20px;
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="/karlsruhe-oparl-viewer/">GemeinderatsRadar</a></li>
        <li><a href="/karlsruhe-oparl-viewer/drucksachen">Drucksachen</a></li>
        <li>
          <a
            href="https://sitzungskalender.karlsruhe.de/db/ratsinformation/start"
            target="_blank"
            rel="noopener noreferrer">Ratsinformationssystem</a
          >
        </li>
      </ul>
    </nav>

    <!-- Page Content -->
    <main>
      <slot />
    </main>
  </body>
</html>
